body {
    background-color: antiquewhite;
}
h1 {
    background-color: rgb(250, 192, 192);
    color: blue;
}
div {
    width: 50vw
}
.divblanco { color: blue;
}
#div1 {
    color: brown;}
#dibujo {
    width: 30vw;
    height: 30vw;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
}
#cara {width: 60%;
    height: 60%;
    background-color: rgb(0, 136, 255);
    border-radius: 50vw;
    position: relative;

}
.ojos {
    background-color: aliceblue;
    border-radius: 10vw;
    width: 5vw;
    height: 5vw;
    position: absolute;

}
#ojoIzquierdo {
    top: 10%;
    left: 20%;
}
#ojoDerecho {
    top: 10%;
    right: 20%;

}
#boca {
    width: 60%;
    height: 30%;
    border-radius: 0px 0px 30vw 30vw;
    position: relative;
    top: 60%;
    left: 20%;
    background-color: rgb(0, 0, 0);
}
.pupilas {
    background-color: rgb(0, 0, 0);
    border-radius: 10vw;
    width: 10%;
    height: 10%;
    position: absolute;

}
#pIzquierdo {
    top: 20%;
    left: 30%;
}
#pDerecho {
    top: 20%;
    right: 30%;